#cards-view {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease;
}

#cards-view.visible,
#cards-view.will-be-visible {
  visibility: visible;
  opacity: 1;
}

#cards-view-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
  transform: translateY(calc(var(--offset-y, 0) * 0.65)) scale(calc(var(--scale) * 1.5));
  transform-origin: 50vw 50vh;
  scroll-snap-type: x mandatory;
  transition: all 0.5s ease;
}

#cards-view.will-be-visible > #cards-view-list {
  width: calc(100% + (50% * var(--scale)));
  transition: all 0.3s ease;
}

#cards-view.visible > #cards-view-list {
  transform: scale(1);
}

#cards-view-list > .scroll-content {
  height: 100%;
}

#cards-view-list .card-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  scroll-snap-align: center;
}

#cards-view-list .card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(var(--scroll-gap, 0)) scale(0.65);
  pointer-events: all;
}

#cards-view-list .card.transitioning {
  transition: all 0.3s ease;
}

#cards-view-list .card .preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--screen-radius);
  outline: solid 0.1rem rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.25);
}

#cards-view-list .card .titlebar {
  display: flex;
  position: absolute;
  top: -6rem;
  left: 0;
  width: 100%;
  height: 5rem;
  gap: 1rem;
}

#cards-view-list .card .titlebar .icon {
  width: 5rem;
  height: 5rem;
}

#cards-view-list .card .titlebar .titles {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 5rem;
}

#cards-view-list .card .titlebar .titles .name {
  display: flex;
  flex-grow: 1;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 2rem;
}

#cards-view-toolbar {
  display: flex;
  position: absolute;
  bottom: 4.5rem;
  left: 0;
  justify-content: center;
  width: 100%;
  height: 5rem;
  gap: 1rem;
}

#cards-view-toolbar > button {
  width: 5rem;
  height: 5rem;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  line-height: 5rem;
}

#cards-view-toolbar > button:hover {
  background-color: rgba(128, 128, 128, 0.3);
}

#cards-view-toolbar > button:active {
  background-color: rgba(255, 255, 255, 0.3);
}

#cards-view-toolbar > button[data-icon]::before {
  position: static;
  font-size: 2.4rem;
}
