#context-menu {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 290px;
  max-width: 512px;
  max-height: calc(100% - 2rem);
  overflow: hidden;
  border-radius: 1.5rem;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  margin: 1rem;
  transition: transform 0.5s cubic-bezier(0.2, 0.9, 0.1, 1), opacity 0.5s cubic-bezier(0.2, 0.9, 0.1, 1), visibility 0.5s ease;
  transform: translateY(-1.5rem);
  opacity: 0;
  visibility: hidden;
}

#context-menu.visible {
  pointer-events: all;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

#context-menu.bottom {
  transform-origin: bottom center;
}

#context-menu-content {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--acrylic-background-plus);
  backdrop-filter: blur(20px) saturate(180%);
  border-radius: 1.5rem;
}

#context-menu-content li:not(.separator):not(.nav) {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  border-radius: 1rem;
  margin: 0;
  padding: 0 1rem;
  box-sizing: border-box;
  list-style: none;
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}

#context-menu-content li:not(.separator):not(.nav):hover {
  background: var(--item-hover);
}

#context-menu-content li:not(.separator):not(.nav):active {
  background: var(--item-active);
}

#context-menu-content li:not(.separator):not(.nav)::after {
  content: '';
  position: absolute;
  left: 1.5rem;
  top: 0;
  width: calc(100% - 3rem);
  height: 100%;
  pointer-events: none;
  border-top: solid 0.1rem var(--item-plus);
  box-sizing: border-box;
}

#context-menu-content li:not(.separator):not(.nav):hover::after,
#context-menu-content li:not(.separator):not(.nav):active::after,
#context-menu-content li:not(.separator):not(.nav):hover + li::after,
#context-menu-content li:not(.separator):not(.nav):active + li::after,
#context-menu-content li:not(.separator):not(.nav):first-child::after,
#context-menu-content .separator + li::after {
  border-top: none !important;
}

#context-menu-content li[disabled]:not(.separator):not(.nav) {
  opacity: 0.4;
  pointer-events: none;
}

#context-menu-content li[data-icon]:not(.separator):not(.nav) {
  -moz-padding-start: 4rem;
  padding-inline-start: 4rem;
}

#context-menu-content li[data-icon]:not(.separator):not(.nav):before {
  position: absolute;
  top: 0;
  width: 2rem;
  height: 100%;
  font-size: 2rem;
}
html[dir='ltr'] #context-menu-content li[data-icon]:not(.separator):not(.nav):before {
  left: 1rem;
}
html[dir='rtl'] #context-menu-content li[data-icon]:not(.separator):not(.nav):before {
  right: 1rem;
}

#context-menu-content .separator {
  list-style: none;
  width: calc(100% + 1rem);
  height: 0.5rem;
  margin: 0.5rem -0.5rem;
  background: var(--item-plus);
}

#context-menu-content .nav {
  width: 100%;
  height: 4rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

#context-menu-content .nav > ul {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

#context-menu-content .nav > ul li {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  flex-grow: 1;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0 1rem !important;
}

#context-menu-content .nav > ul li[data-icon]::before {
  position: static !important;
}

#context-menu-content .nav > ul li::after {
  display: none;
}

#context-menu-content-items {
  padding: 0.5rem;
  box-sizing: border-box;
}

@media screen and (max-width: 599px) {
  #context-menu {
    min-width: unset;
    max-width: 100%;
  }
}
