#lockscreen {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateY(calc(-100% * (1 - var(--motion-progress, 1))));
  backdrop-filter: blur(calc(20px * var(--motion-progress, 1))) saturate(calc(100% + (80% * var(--motion-progress, 1))));
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

#lockscreen.pin-lock {
  transform: none;
}

#lockscreen.low-power {
  backdrop-filter: none;
  background-color: #000;
}

#lockscreen.transitioning {
  transition: all 0.5s ease;
}

#lockscreen.visible {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

#lockscreen-background {
  -webkit-mask-image: radial-gradient(circle at 50% 100%, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) calc(50% - 50vh), white calc(50% + 50vh), white);
  -webkit-mask-size: 100% calc(200% + 100vh);
  -webkit-mask-position: 0 calc(200vh + 100vh);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(calc(100vh * (1 - var(--motion-progress, 1))));
  background: #000 url(/resources/wallpapers/default.png) no-repeat center / cover;
  filter: brightness(calc(75% + (10% * (1 - var(--motion-progress, 1))))) blur(calc(20px * (1 - var(--motion-progress, 1))));
  mask-image: radial-gradient(circle at 50% 100%, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) calc(50% - 50vh), white calc(50% + 50vh), white);
  mask-position: 0 calc(200vh + 100vh);
  mask-size: calc(200% + 100vh);
  opacity: var(--motion-progress, 1);
  transition: all 0.3s ease;
}

#lockscreen.pin-lock #lockscreen-background {
  transform: none;
  opacity: 1;
}

#lockscreen.transitioning #lockscreen-background {
  transition: all 0.5s ease;
}

#lockscreen.low-power #lockscreen-background {
  -webkit-mask-position: 0 100vh;
  mask-position: 100% 100vh;
}

#lockscreen-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#lockscreen.low-power #lockscreen-container {
  transform: scale(0.95);
  opacity: 0.75;
}

#lockscreen.pin-lock #lockscreen-container,
#lockscreen.pin-lock #lockscreen-toolbar {
  z-index: 2;
  transform: translateY(calc(-100vh * (1 - var(--motion-progress, 1))));
  opacity: var(--motion-progress, 1);
}

#lockscreen.transitioning #lockscreen-container,
#lockscreen.transitioning #lockscreen-toolbar,
#lockscreen.transitioning #lockscreen-notification-badge {
  transition: all 0.5s ease;
}

#screen.close-reach #lockscreen-container,
#screen.close-reach #lockscreen-toolbar,
#screen.close-reach #lockscreen-notification-badge {
  transform: translateY(calc(40vh + (-100vh * (1 - var(--motion-progress, 1)))));
}

#lockscreen.pin-lock-visible #lockscreen-container,
#lockscreen.pin-lock-visible #lockscreen-toolbar {
  visibility: hidden;
  opacity: 0;
}

#lockscreen.pin-lock.transitioning #lockscreen-container,
#lockscreen.pin-lock.transitioning #lockscreen-toolbar {
  transition: all 0.3s ease;
}

.lockscreen-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1.5rem 0;
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  #screen.mobile .lockscreen-row {
    width: 50%;
    margin-inline-end: auto;
  }
}

#lockscreen.transitioning .lockscreen-row {
  transition: all 0.5s ease;
}

#lockscreen-icon {
  mask-position-x: calc(1rem + (0.7rem * (10 - (var(--motion-progress, 1) * 10)))), calc(1rem - (0.3rem * (10 - (var(--motion-progress, 1) * 10))));
  -webkit-mask-position-x: calc(1rem + (0.7rem * (10 - (var(--motion-progress, 1) * 10)))), calc(1rem - (0.3rem * (10 - (var(--motion-progress, 1) * 10))));
  -webkit-mask: url(lockscreen/images/lock_base.png) no-repeat center / 3rem, url(lockscreen/images/lock_head.png) no-repeat center / 3rem;
  width: 5rem;
  height: 3rem;
  margin: 7rem auto 0;
  background-color: rgb(calc(200 + ((var(--accent-color-secondary-r) / 255) * 55)), calc(200 + ((var(--accent-color-secondary-g) / 255) * 55)), calc(200 + ((var(--accent-color-secondary-b) / 255) * 55)));
  mask: url(lockscreen/images/lock_base.png) no-repeat center / 3rem, url(lockscreen/images/lock_head.png) no-repeat center / 3rem;
  transition: all 0.3s ease;
}

.light #lockscreen:not(.low-power) #lockscreen-icon {
  background-color: rgb(calc((var(--accent-color-secondary-r) / 255) * 55), calc((var(--accent-color-secondary-g) / 255) * 55), calc((var(--accent-color-secondary-b) / 255) * 55));
}

#lockscreen-icon.fail-unlock {
  animation: fail-unlock 0.75s ease;
}

@keyframes fail-unlock {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(1rem);
  }
  40% {
    transform: translateX(-0.75rem);
  }
  60% {
    transform: translateX(0.5rem);
  }
  80% {
    transform: translateX(-0.25rem);
  }
  100% {
    transform: translateX(0);
  }
}

#lockscreen-clock {
  color: rgb(calc(200 + ((var(--accent-color-primary-r) / 255) * 55)), calc(200 + ((var(--accent-color-primary-g) / 255) * 55)), calc(200 + ((var(--accent-color-primary-b) / 255) * 55)));
  font-weight: 600;
  font-size: 7.2rem;
  line-height: 7.8rem;
}

.light #lockscreen:not(.low-power) #lockscreen-clock {
  color: rgb(calc((var(--accent-color-primary-r) / 255) * 55), calc((var(--accent-color-primary-g) / 255) * 55), calc((var(--accent-color-primary-b) / 255) * 55));
  text-shadow: none;
}

#lockscreen-date {
  z-index: 2;
  color: rgb(calc(200 + ((var(--accent-color-secondary-r) / 255) * 55)), calc(200 + ((var(--accent-color-secondary-g) / 255) * 55)), calc(200 + ((var(--accent-color-secondary-b) / 255) * 55)));
  font-size: 2rem;
}

.light #lockscreen:not(.low-power) #lockscreen-date {
  color: rgb(calc((var(--accent-color-secondary-r) / 255) * 55), calc((var(--accent-color-secondary-g) / 255) * 55), calc((var(--accent-color-secondary-b) / 255) * 55));
  text-shadow: none;
}

#lockscreen-toolbar {
  display: flex;
  visibility: visible;
  z-index: 2;
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  justify-content: start;
  width: calc(100% - 4rem);
  gap: 1rem;
  opacity: 1;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

#lockscreen.low-power #lockscreen-toolbar {
  visibility: hidden;
  opacity: 0;
}

#lockscreen-toolbar > button {
  width: 5rem;
  height: 5rem;
  margin: 0;
  padding: 0 1rem;
  /* backdrop-filter: blur(20px) saturate(180%); */
  border: none;
  border-radius: 50%;
  background-color: rgba(51, 51, 51, 0.3);
  color: #fff;
  line-height: 5rem;
  transition: transform 0.3s cubic-bezier(0.2, 0.9, 0.1, 1.2);
}

#lockscreen-toolbar > button:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: #333;
}

#lockscreen-toolbar > button:active {
  transform: scale(0.9);
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
}

#lockscreen-toolbar > button[data-icon]::before {
  position: static;
  width: 100%;
  height: 5rem;
  font-size: 2.4rem;
  line-height: 5rem;
  text-align: center;
}

#lockscreen-notifications {
  visibility: hidden;
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 1rem;
  width: calc(100% - 2rem);
  height: calc(60% - 10rem);
  margin: 0;
  padding: 0;
  overflow-y: auto;
  transform: scale(0.25);
  transform-origin: top;
  border-radius: 2rem;
  filter: blur(20px);
  opacity: 0;
  transition: all 0.3s ease;
}

#lockscreen #lockscreen-notifications.visible,
#lockscreen.low-power #lockscreen-notifications {
  visibility: visible;
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
}

#lockscreen-notifications .notification {
  backdrop-filter: blur(20px) saturate(180%);
  transition: all 0.3s ease;
}

#lockscreen.low-power #lockscreen-notifications .notification {
  visibility: hidden;
  transform: translateY(3rem);
  opacity: 0;
}

#lockscreen-notifications::-webkit-scrollbar {
  display: none;
}

#lockscreen-notifications .notification {
  width: 100%;
  margin: 0 0 1rem;
  list-style: none;
}

#lockscreen-notification-badge {
  box-sizing: border-box;
  display: flex;
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 50%;
  align-items: center;
  padding: 1rem 1.5rem;
  gap: 1rem;
  transform-origin: top;
  translate: -50% 0;
  border-radius: 3rem;
  background-color: var(--background-plus);
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.6rem;
  transition: all 0.3s ease;
}

#lockscreen:not(.low-power) #lockscreen-notification-badge.hidden {
  visibility: hidden;
  transform: scale(1.5);
  filter: blur(20px);
  opacity: 0;
}

#lockscreen.low-power #lockscreen-notification-badge {
  background-color: var(--item-plus);
  color: #fff;
}

#lockscreen-notification-badge[data-icon]::before {
  font-size: 2rem;
}
