@font-face {
  src: url(/fonts/ReadexPro-VariableFont_HEXP.ttf);
  font-family: 'Orchid Brand';
}

#splashscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

#splashscreen.hidden {
  visibility: hidden;
  background-color: transparent;
  opacity: 0;
  transition: all 1s ease 1s, background-color 0.75s ease 0.25s;
}

#splashscreen-video {
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: cover;
  translate: -50% -50%;
  opacity: 0;
}

#splashscreen.hidden #splashscreen-video {
  opacity: 0;
  transition: all 0.5s ease;
}

#splashscreen .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0.9);
  translate: -50% -50%;
  color: var(--text-color);
  font-weight: 600;
  font-size: 5rem;
  font-family: 'Orchid Brand';
  letter-spacing: -1rem;
  opacity: 0;
}

#splashscreen.animate .logo {
  transform: scale(1);
  letter-spacing: 0;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.5, 0.8, 0, 1.1) 1.5s, opacity 0.5s ease 1.5s;
}

#splashscreen.hidden .logo {
  transform: scale(0.75);
  font-weight: 100;
  opacity: 0;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

#splashscreen .circle {
  visibility: hidden;
  position: absolute;
  width: 80vw;
  height: 80vw;
  transform: scale(0);
  border-radius: 50%;
  background-color: var(--background);
  opacity: 1;
  transition: all 1s cubic-bezier(0.2, 0.9, 0.1, 1);
}

#splashscreen.hidden .circle {
  visibility: unset;
  transform: scale(1);
  opacity: 0;
}

#splashscreen .circle.left {
  top: calc(50% - 40vw);
  left: -40vw;
}

#splashscreen .circle.right {
  top: calc(50% - 40vw);
  right: -40vw;
}

#splashscreen .circle.primary {
  background-color: var(--background);
}

#splashscreen .circle.secondary {
  top: calc(50% - 40vw);
  left: calc(50% - 40vw);
  transform: scale(0) rotate(0deg);
  border-radius: 25%;
  background-color: var(--background-plus);
  transition: all 1s cubic-bezier(0.2, 0.9, 0.1, 1) 0.3s;
}

#splashscreen.hidden .circle.secondary {
  transform: scale(1) rotate(20deg);
}
