#splashscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

#splashscreen.hidden {
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease 1s;
}

#splashscreen-video {
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: cover;
  translate: -50% -50%;
}

#splashscreen.hidden #splashscreen-video {
  opacity: 0;
  transition: all 0.5s ease;
}
