#title-tooltip {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--acrylic-background-plus);
  border-radius: 1rem;
  backdrop-filter: blur(20px) saturate(180%);
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.1);
  pointer-events: none;
  transition: width 0.3s ease, height 0.3s ease, opacity 0.5s ease, visibility 0.5s ease;
  opacity: 0;
  visibility: hidden;
}

#title-tooltip.visible {
  opacity: 1;
  visibility: visible;
}

#title-tooltip-label,
#title-tooltip-label-previous {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: max-content;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: normal;
}

#title-tooltip-label-previous {
  opacity: 0;
}

#title-tooltip-label-previous.blur-out {
  animation: tooltip-previous 0.3s ease;
}

@keyframes tooltip-previous {
  from {
    filter: blur(0px);
    transform: scale(1);
    opacity: 1;
  }
  to {
    filter: blur(20px);
    transform: scale(var(--scale-x), var(--scale-y));
    opacity: 0;
  }
}

#title-tooltip-label.blur-in {
  animation: tooltip-next 0.3s ease;
}

@keyframes tooltip-next {
  from {
    filter: blur(20px);
    transform: scale(var(--scale-x), var(--scale-y));
    opacity: 0;
  }
  to {
    filter: blur(0px);
    transform: scale(1);
    opacity: 1;
  }
}
