#utility-tray-wifi,
#utility-tray-bluetooth {
  --background: transparent;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 2rem);
  max-width: 40rem;
  height: max-content;
  max-height: calc(100% - var(--statusbar-height) - 2.5rem);
  translate: -50% -50%;
  border-radius: 2rem;
  background-color: var(--acrylic-background-plus);
  transition: all 0.3s ease;
}

#utility-tray-wifi.visible,
#utility-tray-bluetooth.visible {
  visibility: visible;
}

#screen.software-buttons-enabled #utility-tray-wifi,
#screen.software-buttons-enabled #utility-tray-bluetooth {
  max-height: calc(
    100% - var(--statusbar-height) - var(--software-buttons-height)
  );
}

#utility-tray-wifi .headerbar,
#utility-tray-bluetooth .headerbar {
  --statusbar-height: 0.5rem;
  backdrop-filter: none;
  background-image: none;
}

#utility-tray-wifi .content,
#utility-tray-bluetooth .content {
  --software-buttons-height: 0rem;
}
