#windows {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

#screen.close-reach #windows {
  transition: all 0.5s ease;
  transform: translateY(40vh);
  height: 60%;
}

#screen.keyboard-visible #windows {
  transition: all 0.5s cubic-bezier(0.2, 0.9, 0.1, 1), transform 0.5s ease;
  height: 60%;
}

.appframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color, var(--background));
  overflow: hidden;
  transform: translateY(100%);
}

.appframe.active {
  transform: translateY(0);
  z-index: 1;
}

#windows.dragging .appframe {
  pointer-events: none;
  border-radius: var(--screen-radius);
}

#windows .appframe.dragging {
  transform: scale(0.25);
}

#screen.cards-view-visible #windows,
#screen.utility-tray-visible #windows,
#screen.drag-and-drop-active #windows {
  pointer-events: none;
}

#screen.cards-view-visible .appframe {
  transform: none;
  transition: none;
  opacity: 0.0000000000000001;
}

#screen:not(.cards-view-visible) #homescreen.appframe {
  transform: scale(0.9);
  opacity: 0;
}

#screen:not(.cards-view-visible) #homescreen.appframe.active {
  transform: scale(1);
  opacity: 1;
}

.appframe.transitioning {
  transition: all 0.3s ease;
}

.appframe.transitioning-bouncy {
  transition: all 0.5s cubic-bezier(0.4, -0.25, 0, 1.25);
}

.appframe.expand {
  border-radius: var(--screen-radius);
  animation: expand 0.3s ease forwards;
}

@keyframes expand {
  from {
    transform: scale(0.75);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.appframe.shrink {
  border-radius: var(--screen-radius);
  animation: shrink 0.3s ease forwards;
}

@keyframes shrink {
  from {
    transform: scale(var(--scale, 1)) translateY(var(--offset-y, 0));
    opacity: 1;
  }
  to {
    transform: scale(0.75);
    opacity: 0;
  }
}

.appframe.shrink-to-homescreen {
  border-radius: var(--screen-radius);
  animation: shrink-to-homescreen 0.5s ease forwards;
  z-index: 10;
}

@keyframes shrink-to-homescreen {
  from {
    transform: translateY(var(--offset-y, 0)) scale(var(--scale, 1));
  }
  to {
    transform-origin: 0 0;
    transform: translate(var(--icon-pos-x), var(--icon-pos-y)) scale(var(--icon-scale-x), var(--icon-scale-y));
    border-radius: calc((4.8rem / 4) / var(--icon-scale-x)) / calc((4.8rem / 4) / var(--icon-scale-y));
  }
}

.appframe.shrink-to-homescreen > .splashscreen {
  animation: shrink-to-homescreen-icon 0.5s ease forwards;
}

@keyframes shrink-to-homescreen-icon {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.appframe.shrink-to-homescreen > .splashscreen .icon {
  object-fit: fill;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.appframe:not(.window).from-left {
  border-radius: var(--screen-radius);
  animation: from-left 0.5s cubic-bezier(1, 0, 0, 1);
}

@keyframes from-left {
  from {
    transform: translateX(calc(-100% - 2rem));
  }
  to {
    transform: translateX(0);
  }
}

.appframe:not(.window).from-right {
  border-radius: var(--screen-radius);
  animation: from-right 0.5s cubic-bezier(1, 0, 0, 1);
}

@keyframes from-right {
  from {
    transform: translateX(calc(100% + 2rem));
  }
  to {
    transform: translateX(0);
  }
}

.appframe:not(.window).to-left {
  border-radius: var(--screen-radius);
  animation: to-left 0.5s cubic-bezier(1, 0, 0, 1);
}

@keyframes to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 2rem));
  }
}

.appframe:not(.window).to-right {
  border-radius: var(--screen-radius);
  animation: to-right 0.5s cubic-bezier(1, 0, 0, 1);
}

@keyframes to-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100% + 2rem));
  }
}

.appframe.zoom-in {
  border-radius: var(--screen-radius);
  animation: zoom-in 0.5s cubic-bezier(0.2, 0.9, 0.1, 1) forwards;
}

@keyframes zoom-in {
  from {
    transform: scale(1.25);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.appframe.zoom-out {
  border-radius: var(--screen-radius);
  animation: zoom-out 0.3s cubic-bezier(0.2, 0.9, 0.1, 1) forwards;
}

@keyframes zoom-out {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.25);
    opacity: 0;
  }
}

.appframe.from-cards-view {
  border-radius: var(--screen-radius);
  transform-origin: center !important;
  opacity: 1;
  animation: from-cards-view 0.5s cubic-bezier(0.2, 0.9, 0.1, 1);
}

@keyframes from-cards-view {
  from {
    transform: scale(0.65);
  }
  to {
    transform: scale(1);
  }
}

.appframe.to-cards-view {
  border-radius: var(--screen-radius);
  transform-origin: center !important;
  opacity: 1 !important;
  animation: to-cards-view 0.5s cubic-bezier(0.2, 0.9, 0.1, 1);
}

@keyframes to-cards-view {
  from {
    transform: scale(var(--scale, 1)) translateY(var(--offset-y, 0));
  }
  to {
    transform: scale(0.65);
  }
}

.appframe.transparent,
.appframe.transparent .chrome {
  background-color: transparent;
}

.appframe.window {
  border-radius: 2.5rem !important;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
  transform: translateY(0);
  transition: transform 0.3s ease;
}

.appframe.window.active {
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}

.appframe.window.maximized {
  position: absolute;
  left: 0 !important;
  top: var(--statusbar-height) !important;
  width: 100% !important;
  height: calc(
    100% - var(--statusbar-height) - var(--software-buttons-height)
  ) !important;
  box-shadow: none;
}

#screen.desktop .appframe.window.maximized {
  top: 0 !important;
  height: calc(100% - var(--software-buttons-height)) !important;
  border-radius: 0 !important;
}

.appframe .chrome .browser-container > .browser {
  position: absolute;
  left: 0;
  top: var(--statusbar-height);
  width: 100%;
  height: calc(100% - var(--statusbar-height) - 2.5rem);
}

#screen.context-menu-visible .appframe .chrome .browser-container > .browser {
  pointer-events: none;
}

.appframe:not(.fullscreen) .chrome.visible .browser {
  top: calc(
    var(--statusbar-height) + var(--chrome-tablist-height) +
      var(--chrome-navbar-height) + (var(--chrome-toolbar-gap) * 2)
  );
  height: calc(
    100% - var(--statusbar-height) - 2.5rem - var(--chrome-tablist-height) -
      var(--chrome-navbar-height) - (var(--chrome-toolbar-gap) * 2)
  );
}

.appframe:not(.fullscreen) .chrome.bottom.visible .browser {
  top: var(--statusbar-height);
}

#screen.software-buttons-enabled
  .appframe
  .chrome
  .browser-container
  > .browser {
  height: calc(100% - var(--statusbar-height) - var(--software-buttons-height));
}

#screen .appframe.window .chrome .browser-container > .browser {
  height: 100%;
}

#screen.software-buttons-enabled .appframe:not(.fullscreen) .chrome.visible .browser {
  top: calc(
    var(--statusbar-height) + var(--chrome-tablist-height) +
      var(--chrome-navbar-height) + (var(--chrome-toolbar-gap) * 2)
  );
  height: calc(
    100% - var(--statusbar-height) - var(--software-buttons-height) -
      var(--chrome-tablist-height) - var(--chrome-navbar-height) -
      (var(--chrome-toolbar-gap) * 2)
  );
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  #screen.software-buttons-enabled .appframe:not(.fullscreen) .chrome.visible .browser {
    top: calc(
      var(--statusbar-height) +
        var(--chrome-navbar-height) + var(--chrome-toolbar-gap)
    );
    height: calc(
      100% - var(--statusbar-height) - var(--chrome-navbar-height) -
        (var(--chrome-toolbar-gap) * 2)
    );
  }
}

#screen .appframe.window .chrome.visible .browser {
  top: calc(
    var(--chrome-tablist-height) + var(--chrome-navbar-height) +
      (var(--chrome-toolbar-gap) * 2)
  );
  height: calc(
    100% - var(--chrome-tablist-height) - var(--chrome-navbar-height) -
      (var(--chrome-toolbar-gap) * 2)
  );
}

#screen.software-buttons-enabled .appframe .chrome.bottom.visible .browser {
  top: var(--statusbar-height);
}

.appframe.overlay .chrome .browser {
  top: 0;
  height: calc(100% - 2.5rem);
}

#screen.software-buttons-enabled .appframe.overlay .chrome .browser {
  height: calc(100% - var(--software-buttons-height));
}

.appframe.immersive .chrome .browser,
.appframe.fullscreen .chrome .browser,
#screen.software-buttons-enabled .appframe.immersive .chrome .browser,
#screen.software-buttons-enabled .appframe.fullscreen .chrome .browser {
  top: 0;
  height: 100%;
}

.appframe.window.immersive
  #screen.software-buttons-enabled
  .appframe.window.immersive {
  height: calc(100% + var(--software-buttons-height));
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .appframe:not(.fullscreen) .chrome.visible .browser {
    top: calc(
      var(--statusbar-height) + var(--chrome-navbar-height) +
        var(--chrome-toolbar-gap)
    );
    height: calc(
      100% - var(--statusbar-height) - 2.5rem - var(--chrome-navbar-height) -
        var(--chrome-toolbar-gap)
    );
  }

  #screen.software-buttons-enabled .appframe:not(.fullscreen) .chrome.visible .browser {
    top: calc(
      var(--statusbar-height) + var(--chrome-navbar-height) +
        var(--chrome-toolbar-gap)
    );
    height: calc(
      100% - var(--statusbar-height) - var(--software-buttons-height) -
        var(--chrome-navbar-height) - var(--chrome-toolbar-gap)
    );
  }
}

.appframe .splashscreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background-color: #333;
  visibility: visible;
  cursor: wait;
  mask-image: radial-gradient(
    circle at 50% 100%,
    transparent,
    transparent calc(100% / 3),
    white calc((100% / 3) * 2),
    white
  );
  mask-size: 300%;
  mask-position: 0 0;
  -webkit-mask-image: radial-gradient(
    circle at 50% 100%,
    transparent,
    transparent calc(100% / 3),
    white calc((100% / 3) * 2),
    white
  );
  -webkit-mask-size: 100% 300%;
  -webkit-mask-position: 0 0;
  transition: all 0.3s ease;
}

.appframe:not(.shrink-to-homescreen) .splashscreen.hidden {
  visibility: hidden;
  mask-position: 0 100%;
  -webkit-mask-position: 0 100%;
  transition: all 0.3s ease 1s;
}

.appframe .splashscreen .icon {
  position: absolute;
  left: calc(50% - 3.2rem);
  top: calc(50% - 3.2rem);
  width: 6.4rem;
  height: 6.4rem;
}

.appframe > .grippy-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  z-index: 20;
}

#screen.software-buttons-enabled .appframe > .grippy-bar {
  visibility: hidden;
}

.appframe > .grippy-bar::before {
  content: '';
  position: absolute;
  left: calc(50% - 5rem);
  bottom: 1rem;
  width: 10rem;
  height: 0.5rem;
  background-color: #fff;
  border-radius: 1rem;
  mix-blend-mode: difference;
}

.appframe .titlebar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0.75rem 1.5rem;
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  z-index: 5;
}
html[dir='ltr'] .appframe .titlebar {
  right: 0;
}
html[dir='rtl'] .appframe .titlebar {
  left: 0;
}

.appframe.active .titlebar {
  opacity: 1;
}

.appframe.chrome-visible:not(.fullscreen) .titlebar {
  width: max-content;
  padding: 1.25rem 1.5rem;
}

.appframe .titlebar > .titlebar-grippy {
  height: 2.5rem;
  width: 100%;
  flex-grow: 1;
}

.appframe .titlebar > .titlebar-buttons {
  height: 2.5rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}

.appframe .titlebar button {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border-radius: 50%;
  background-color: var(--item-plus);
  border: none;
  position: relative;
  padding: 0;
}

.appframe .titlebar button:hover {
  background-color: var(--item-hover-plus);
}

.appframe .titlebar button:active {
  background-color: var(--item-active-plus);
}

.appframe .titlebar button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent no-repeat center / 1.6rem;
  opacity: 0.8;
}

.appframe .titlebar .close-button::before {
  background-image: url(images/close.png);
}

.appframe .titlebar .resize-button::before {
  background-image: url(images/maximize.png);
}

.appframe.maximized .titlebar .resize-button::before {
  background-image: url(images/restore.png);
}

.appframe .titlebar .minimize-button::before {
  background-image: url(images/minimize.png);
}

.appframe.light .titlebar button::before {
  filter: invert(1);
}

.appframe.dark .titlebar button::before {
  filter: none;
}

@media screen and (prefers-color-scheme: light) {
  .appframe.light .titlebar button::before {
    filter: invert(1);
  }
}

.resize-handler {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  z-index: 100;
}

.resize-handler.nw-resize {
  /* Top Left */
  top: 0;
  left: 0;
  cursor: ne-resize;
}

.resize-handler.n-resize {
  /* Top */
  top: 0;
  left: 1rem;
  width: calc(100% - 2rem);
  cursor: n-resize;
}

.resize-handler.ne-resize {
  /* Top Right */
  top: 0;
  right: 0;
  cursor: nw-resize;
}

.resize-handler.w-resize {
  /* Left */
  top: 1rem;
  left: 0;
  height: calc(100% - 2rem);
  cursor: w-resize;
}

.resize-handler.e-resize {
  /* Right */
  top: 1rem;
  right: 0;
  height: calc(100% - 2rem);
  cursor: e-resize;
}

.resize-handler.sw-resize {
  /* Bottom Left */
  bottom: 0;
  left: 0;
  cursor: se-resize;
}

.resize-handler.s-resize {
  /* Bottom */
  bottom: 0;
  left: 1rem;
  width: calc(100% - 2rem);
  cursor: s-resize;
}

.resize-handler.se-resize {
  /* Bottom Right */
  bottom: 0;
  right: 0;
  cursor: sw-resize;
}

@media screen and (min-width: 600px) {
  .appframe .chrome.top.visible,
  .appframe .chrome.top.visible .toolbar {
    padding-top: var(--statusbar-height) !important;
  }

  .appframe.window .chrome.top.visible,
  .appframe.window .chrome.top.visible .toolbar {
    padding-top: var(--chrome-toolbar-gap) !important;
  }
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  #screen.software-buttons-enabled .appframe .chrome {
    width: calc(100% - var(--software-buttons-height));
    left: unset;
  }
  html[dir='ltr'] #screen.software-buttons-enabled .appframe .chrome {
    right: 0;
  }
  html[dir='rtl'] #screen.software-buttons-enabled .appframe .chrome {
    left: 0;
  }

  #screen.software-buttons-enabled .appframe.overlay .chrome .browser {
    height: 100%;
  }

  #screen.software-buttons-enabled .appframe.immersive .chrome .browser {
    height: calc(100% + var(--software-buttons-height));
  }
}
