#search {
  transform: translateX(0) !important;
  opacity: 1;
  background-color: transparent;
}

#search [role="header"] {
  background-image: none;
}

#search form,
#search .content {
  transition: opacity 0.3s ease;
  opacity: 0;
}

#search.visible form,
#search.visible .content {
  opacity: 1;
}

#search [role="header"] .back-button {
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateX(100%);
  opacity: 0;
}

#search.visible [role="header"] .back-button {
  transform: translateX(0);
  opacity: 1;
}
