@font-face {
  src: url(orchid://fonts/Rubik-VariableFont_wght.ttf);
  font-family: -orchid-internal-font;
}

@font-face {
  font-style: italic;
  src: url(orchid://fonts/Rubik-Italic-VariableFont_wght.ttf);
  font-family: -orchid-internal-font;
}

* {
  font-family: -orchid-internal-font;
}
