@font-face {
  src: url(orchid://fonts/Rubik-VariableFont_wght.ttf);
  font-family: 'Jali Arabic';
}

@font-face {
  font-style: italic;
  src: url(orchid://fonts/Rubik-Italic-VariableFont_wght.ttf);
  font-family: 'Jali Arabic';
}
