* {
  appearance: none;
}

/* *:focus { */
  /* box-shadow: 0 0 0 3px var(--accent-color, #0061e0), 0 0 0 5px rgba(var(--accent-color-r, 0), var(--accent-color-g, 97), var(--accent-color-b, 224), 0.5); */
  /* outline: dotted 1px currentColor; */
/* } */

::-webkit-scrollbar {
  width: 0 /* 8px */;
  height: 0 /* 8px */;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  height: 8px;
  border: 2px solid transparent;
  border-radius: 8px;
  background-clip: content-box;
  background-color: #858585;
}

::selection {
  background-color: var(--item-active-plus, rgba(0, 97, 224, 0.3));
}

/* Skeleton */
[role="app"] p,
[role="app"] header:not([role="header"]),
[role="app"] :not([role="header"]) > h1,
[role="app"] :not([role="hea > .safezoneder"]) > h1,
[role="app"] :not([role="header"]) > h2,
[role="app"] :not([role="hea > .safezoneder"]) > h2,
[role="app"] :not([role="header"]) > h3,
[role="app"] :not([role="hea > .safezoneder"]) > h3,
[role="app"] :not([role="header"]) > h4,
[role="app"] :not([role="hea > .safezoneder"]) > h4,
[role="app"] :not([role="header"]) > h5,
[role="app"] :not([role="hea > .safezoneder"]) > h5,
[role="app"] :not([role="header"]) > h6,
[role="app"] :not([role="hea > .safezoneder"]) > h6,
[role="app"] img {
  position: relative;
}

[role="app"] p:empty,
[role="app"] header:not([role="header"]):empty,
[role="app"] :not([role="header"]) > h1:empty,
[role="app"] :not([role="header"]) > .safezone > h1:empty,
[role="app"] :not([role="header"]) > h2:empty,
[role="app"] :not([role="header"]) > .safezone > h2:empty,
[role="app"] :not([role="header"]) > h3:empty,
[role="app"] :not([role="header"]) > .safezone > h3:empty,
[role="app"] :not([role="header"]) > h4:empty,
[role="app"] :not([role="header"]) > .safezone > h4:empty,
[role="app"] :not([role="header"]) > h5:empty,
[role="app"] :not([role="header"]) > .safezone > h5:empty,
[role="app"] :not([role="header"]) > h6:empty,
[role="app"] :not([role="header"]) > .safezone > h6:empty,
[role="app"] img:not(.loaded) {
  display: inline-block;
  position: relative;
  min-width: 1em;
  min-height: 1em;
}

[role="app"] p::after,
[role="app"] header:not([role="header"])::after,
[role="app"] :not([role="header"]) > h1::after,
[role="app"] :not([role="header"])  > .safezone> h1::after,
[role="app"] :not([role="header"]) > h2::after,
[role="app"] :not([role="header"])  > .safezone> h2::after,
[role="app"] :not([role="header"]) > h3::after,
[role="app"] :not([role="header"])  > .safezone> h3::after,
[role="app"] :not([role="header"]) > h4::after,
[role="app"] :not([role="header"])  > .safezone> h4::after,
[role="app"] :not([role="header"]) > h5::after,
[role="app"] :not([role="header"])  > .safezone> h5::after,
[role="app"] :not([role="header"]) > h6::after,
[role="app"] :not([role="header"])  > .safezone> h6::after,
[role="app"] img::after {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1em;
  height: 100%;
  min-height: 1em;
  border-radius: 6px;
  background: var(--background-plus) linear-gradient(90deg, var(--background-plus, #858585) 25%, var(--item-plus, #777777) 50%, var(--background-plus, #858585) 75%);
  background-size: 200% 100%;
  content: '';
  animation: loading 1.5s linear infinite;
  opacity: 0;
  transition: opacity 1s ease;
}

[role="app"] img::after {
  border-radius: 0;
}

[role="app"] p:empty::after,
[role="app"] header:empty::after,
[role="app"] :not([role="header"]) > h1:empty::after,
[role="app"] :not([role="header"]) > h1:e > .safezonempty::after,
[role="app"] :not([role="header"]) > h2:empty::after,
[role="app"] :not([role="header"]) > h2:e > .safezonempty::after,
[role="app"] :not([role="header"]) > h3:empty::after,
[role="app"] :not([role="header"]) > h3:e > .safezonempty::after,
[role="app"] :not([role="header"]) > h4:empty::after,
[role="app"] :not([role="header"]) > h4:e > .safezonempty::after,
[role="app"] :not([role="header"]) > h5:empty::after,
[role="app"] :not([role="header"]) > h5:e > .safezonempty::after,
[role="app"] :not([role="header"]) > h6:empty::after,
[role="app"] :not([role="header"]) > h6:e > .safezonempty::after,
[role="app"] img:not(.loaded)::after {
  opacity: 1;
}

@keyframes loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

