#app {
  top: 5rem;
  height: calc(100% - 5rem);
  background-color: transparent;
}

#chat {
  --safezone-width: 102.4rem;
}

.messages {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 1.5rem;
  padding-bottom: calc(5rem + var(--software-buttons-height, 1rem)) !important;
}

.chat-messages {
  width: 100%;
  max-width: calc(var(--safezone-width) - 3rem);
  margin: 0 auto;
}

.message {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  width: 100%;
  padding: 0 1rem;
  gap: 1rem;
  border-radius: 1.5rem;
}

.message.bot {
  background-color: var(--background-plus);
}

.message > .avatar {
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  margin: 1rem 0;
  border-radius: 50%;
  background: #858585 url(images/defaultuser.svg) no-repeat center / cover;
}

.message.bot > .avatar {
  background: #858585 url(icons/assistant.svg) no-repeat center / cover;
}

.message .text-holder {
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  padding: 1rem 0;
}

.message .text-holder .message-text {
  width: 100%;
  margin: 0;
  color: var(--text-color);
  font-weight: normal;
  font-size: 1.6rem;
}

.message .text-holder .message-text h1,
.message .text-holder .message-text h2,
.message .text-holder .message-text h3,
.message .text-holder .message-text h4,
.message .text-holder .message-text h5,
.message .text-holder .message-text h6,
.message .text-holder .message-text p,
.message .text-holder .message-text li {
  margin: 0;
  margin-bottom: 1rem;
  color: var(--text-color);
  font-weight: normal;
}

.message .text-holder .message-text h1:last-child,
.message .text-holder .message-text h2:last-child,
.message .text-holder .message-text h3:last-child,
.message .text-holder .message-text h4:last-child,
.message .text-holder .message-text h5:last-child,
.message .text-holder .message-text h6:last-child,
.message .text-holder .message-text p:last-child,
.message .text-holder .message-text li:last-child {
  margin-bottom: 0;
}

.message .text-holder .message-text li,
.message .text-holder .message-text p {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.message .text-holder .message-text a {
  color: var(--text-color);
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-decoration: underline dotted var(--item-active);
}

.message .text-holder .message-text a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.message .text-holder .message-text ul {
  margin: 0;
  padding-inline-start: 4rem;
}

.message .text-holder .images {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.message .text-holder .images > .image {
  max-width: 12rem;
  height: 10rem;
  margin: 1rem 0 0;
  object-fit: contain;
  border-radius: 1rem;
}

.messagebox-container {
  box-sizing: border-box;
  z-index: 5;
  height: calc(4.6rem + var(--software-buttons-height, 1rem));
  margin-top: calc(-4.6rem - var(--software-buttons-height, 1rem));
  padding: 0 1.5rem var(--software-buttons-height, 1rem);
  background-image: linear-gradient(to bottom, transparent 2.3rem, var(--background) 4.6rem);
}

.messagebox-container [role="messagebox"] {
  /* background-color: var(--header-background); */
  backdrop-filter: blur(20px) saturate(180%);
}

@media screen and (min-width: 768px) {
  #root {
    box-sizing: border-box;
    visibility: visible;
    z-index: 1;
    position: absolute;
    top: 0;
    width: 32rem;
    height: 100%;
    transform: none;
    filter: none;
    opacity: 1;
  }
  html[dir="ltr"] #root {
    left: 0;
  }
  html[dir="rtl"] #root {
    right: 0;
  }

  #root.visible {
    width: 100%;
    border-inline-end: none;
  }

  #root > .content > *:not(.scroll-content, .scrollbar-track, .bb-emptyscreen),
  #root > .content > .scroll-content > *:not(.bb-emptyscreen) {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }

  [role="panel"]:not(#root) {
    position: absolute;
    top: 0;
    width: calc(100% - 32rem);
    height: 100%;
  }
  html[dir="ltr"] [role="panel"]:not(#root) {
    left: 32rem;
  }
  html[dir="rtl"] [role="panel"]:not(#root) {
    right: 32rem;
  }
}
