@font-face {
  src: url(/fonts/ReadexPro-ExtraLight.ttf);
  font-family: 'Readex Pro';
  font-weight: lighter;
}

@font-face {
  src: url(/fonts/ReadexPro-Regular.ttf);
  font-family: 'Readex Pro';
  font-weight: normal;
}

@font-face {
  src: url(/fonts/ReadexPro-Bold.ttf);
  font-family: 'Readex Pro';
  font-weight: bold;
}

html, body {
  margin: 0;
  padding: 0;
  background: #000;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 10px;
  font-family: 'Readex Pro', system-ui;
}

#viewport {
  position: absolute;
  left: 0;
  top: 0;
  background: #858585;
  width: 100%;
  height: 100%;
}

#crosshair {
  position: absolute;
  left: calc(50% - 2rem);
  top: calc(50% - 2rem);
  width: 4rem;
  height: 4rem;
  background: url(/images/crosshair.svg) no-repeat center / cover;
  z-index: 9;
  pointer-events: none;
}

#loading-screen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #101214;
  display: none;
  z-index: 10;
}

#loading-screen.visible {
  display: block;
}

#loading-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% * var(--progress));
  height: 0.8rem;
  background: #e0e0e0;
  transition: all 0.5s cubic-bezier(1, 0, 0, 1);
}

#loading-icon {
  position: absolute;
  right: 6rem;
  bottom: 4rem;
  width: 5rem;
  height: 5rem;
  background: url(/images/icons/loading.svg) no-repeat center / cover;
  animation: fade 1s linear infinite;
}

@keyframes fade {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
