::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  background: #f0f6ff;
}

::-webkit-scrollbar-thumb {
  width: 16px;
  height: 16px;
  background-color: #858585;
}

::-webkit-scrollbar-button {
  width: 16px;
  height: 16px;
  background: transparent no-repeat center / cover;
}

::-webkit-scrollbar-button:decrement {
  background-image: url(win32/scrollbar-down.png);
}

::-webkit-scrollbar-button:increment {
  background-image: url(win32/scrollbar-up.png);
}
