#dockbar {
  position: absolute;
  left: 1rem;
  width: calc(100% - 2rem);
  height: 7.8rem;
  bottom: var(--software-buttons-height);
  /* background-color: var(--acrylic-background); */
  /* backdrop-filter: blur(20px) saturate(180%); */
  /* outline: solid 0.1rem rgba(255, 255, 255, 0.1); */
  border-radius: 2.5rem;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  transition: all 0.5s cubic-bezier(0.2, 0.9, 0.1, 1.1) 0.5s;
  transform: translateY(0);
}

#app.hidden #dockbar {
  transition: all 0.3s ease;
  transform: translateY(calc(100% + var(--software-buttons-height)));
}

#dockbar .icon .icon-holder {
  padding: 1.5rem 0;
}

#dockbar .icon .name {
  display: none;
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  #dockbar {
    left: unset;
    right: 1rem;
    top: var(--statusbar-height);
    bottom: unset;
    width: 7.8rem;
    height: calc(100% - var(--statusbar-height) - 1rem);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--grid-columns), 1fr);
  }
}

@media screen and (min-width: 768px) {
  #dockbar {
    left: 50%;
    translate: -50% 0;
    grid-template-columns: repeat(var(--grid-columns), 8rem);
    width: max-content;
    max-width: calc(100% - 2rem);
  }
}
