#grid {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  display: flex;
  transform: translateY(calc(3rem * (var(--motion-progress, 0) + (var(--overscroll-progress, 0)))));
  transition: all 0.3s ease;
}

#app.transitioning #grid {
  transition: all 0.5s ease;
}

.page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--statusbar-height) 1rem calc(var(--software-buttons-height) + 10.5rem);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  perspective: 100vw;
  overflow: hidden;
  scroll-snap-align: start;
  flex-shrink: 0;
  margin: 0;
}

#grid::-webkit-scrollbar {
  display: none;
}

.icon {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  list-style: none;
  transition: all 0.75s cubic-bezier(0, 0.25, 0, 1) 0.5s;
}

#app.hidden #grid .icon {
  transition: all 0.5s ease;
  transform: translateZ(var(--pos-z));
  opacity: 0;
  visibility: hidden;
}

.icon.dragging {
  transition: none;
}

.icon .icon-holder {
  width: 4.8rem;
  margin: 0 auto;
  padding-top: 0.4rem;
  position: relative;
}

.icon .icon-holder > * {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 25%;
  display: block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon:hover .icon-holder > img {
  transform: scale(1.05);
}

.icon.dragging .icon-holder > img {
  transform: scale(1.25);
}

.icon:active .icon-holder > img {
  filter: brightness(0.75);
}

[data-edit-mode="true"] .icon:not(.dragging) .icon-holder > img {
  transform-origin: center !important;
  animation: icon-edit-wiggle 0.3s ease-in-out infinite;
}

[data-edit-mode="true"] .icon:not(.dragging):nth-child(3n-1) .icon-holder > img {
  animation-delay: 0.2s;
}

[data-edit-mode="true"] .icon:not(.dragging):nth-child(3n) .icon-holder > img {
  animation-delay: 0.1s;
}

@keyframes icon-edit-wiggle {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.icon .icon-holder > .notification-badge {
  position: absolute;
  left: -0.5rem;
  top: 0;
  min-width: 2.4rem;
  height: 2.4rem;
  line-height: 2.4rem;
  margin: 0;
  padding: 0 0.5rem;
  box-sizing: border-box;
  background-color: #c00040;
  border-radius: 2.4rem;
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.4rem;
  font-weight: normal;
  text-align: center;
  transition: all 0.3s ease;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}

.icon .icon-holder > .uninstall-button {
  position: absolute;
  right: -0.5rem;
  top: 0;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  margin: 0;
  padding: 0 0.7rem;
  background-color: var(--acrylic-background);
  backdrop-filter: blur(20px) saturate(180%);
  border-radius: 50%;
  color: var(--text-color);
  border: none;
  transition: all 0.3s ease;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}

[data-edit-mode="true"] .icon .icon-holder > .uninstall-button {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.icon .icon-holder > .uninstall-button[data-icon]::before {
  font-size: 1.6rem;
  height: 3rem;
  line-height: 4rem;
}

.icon .name {
  width: 100%;
  margin: 0.4rem 0 1rem;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3), 0 0 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: all 0.3s ease;
}

#app.light .icon .name {
  color: rgba(0, 0, 0, 0.75);
  font-weight: bold;
  text-shadow: none;
}

.icon.icon.dragging .name {
  opacity: 0;
}

[data-edit-mode="true"] .icon:not(.dragging) .name {
  transform-origin: 50% -3rem !important;
  animation: icon-edit-wiggle 0.3s ease-in-out infinite;
}

[data-edit-mode="true"] .icon:not(.dragging):nth-child(3n-1) .name {
  animation-delay: 0.2s;
}

[data-edit-mode="true"] .icon:not(.dragging):nth-child(3n) .name {
  animation-delay: 0.1s;
}

@media screen and (orientation: landscape) and (max-width: 767px) {
  .page {
    grid-template-columns: repeat(var(--grid-rows), 1fr);
    grid-template-rows: repeat(var(--grid-columns), 1fr);
    padding: var(--statusbar-height) 1rem 4rem;
    padding-right: 9rem;
  }
}

@media screen and (min-width: 768px) {
  .page {
    grid-template-columns: repeat(var(--grid-rows), 1fr);
    grid-template-rows: repeat(var(--grid-columns), 1fr);
  }
}
