input[type="text"],
input[type="username"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"] {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  background-color: var(--item-plus);
  border-radius: 1rem;
  border: none;
  box-shadow: inset 0 -0.1rem 0 #858585;
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: normal;
  outline: none;
  padding: 0 1rem;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="username"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="url"]:focus {
  box-shadow: inset 0 -0.3rem 0 var(--accent-color);
}

form.search {
  width: 100%;
  height: 4rem;
  display: flex;
  background-color: var(--item-plus);
  border-radius: 2rem;
}

form.search input[type="text"],
form.search input[type="username"],
form.search input[type="email"],
form.search input[type="password"],
form.search input[type="search"],
form.search input[type="url"] {
  flex-grow: 1;
  background-color: transparent;
  padding: 0;
  padding-inline-start: 1.5rem;
  box-shadow: none;
}

form.search button {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  background-color: transparent;
  color: var(--text-color);
  padding: 0 1rem;
  flex-shrink: 0;
}

form.search button[type="submit"] {
  width: 5rem;
  height: 3rem;
  line-height: 3rem;
  background-color: var(--accent-color);
  color: var(--accent-color-plus);
  padding: 0 1.5rem;
  margin: 0.5rem;
  margin-inline-start: 0;
}

form.search button[data-icon]::before {
  position: static;
  font-size: 2rem;
}

.lists ul li input[type="text"],
.lists ul li input[type="username"],
.lists ul li input[type="email"],
.lists ul li input[type="password"],
.lists ul li input[type="search"],
.lists ul li input[type="url"] {
  margin: 0;
}

.pack-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
}
