.layout-form {
  width: calc(100% - 3rem);
  max-width: calc(var(--safezone-width) - 3rem);
  margin: 0 auto;
  display: flex;
  gap: 1rem;
}

.layout-form label {
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
}

.layout-form label > input {
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: 0;
  padding: 0;
  appearance: none;
  color: var(--text-color);
  border-radius: 1.5rem;
  transition: transform 0.3s ease;
}

.layout-form label > input:active {
  transition: transform 0.1s ease;
  transform: scale(0.95);
  opacity: 0.75;
}

.layout-form.gestures label > input:checked {
  color: var(--accent-color);
}

.layout-form label > span {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: normal;
  text-align: center;
}

/* Gestures */
.layout-form.gestures label > input {
  position: relative;
  aspect-ratio: 9 / 16;
  background-color: var(--background-plus);
}

.layout-form.gestures label > input:checked {
  background: url(settings_previews/images/default_wallpaper.png) no-repeat center / cover;
}

.layout-form.gestures label.classic > input::before {
  content: '';
  position: absolute;
  left: 45%;
  bottom: 3%;
  width: 10%;
  aspect-ratio: 1 / 1;
  background-color: #fff;
  border-radius: 1rem;
}

.layout-form.gestures label.classic > input::after {
  content: '';
  position: absolute;
  left: 30%;
  bottom: 0;
  width: 40%;
  height: 12%;
  background-color: rgba(255,255,255,0.2);
  border-radius: 3rem;
  opacity: 0;
}

.layout-form.gestures label.classic > input:checked::after {
  animation: nav-classic 0.5s ease;
}

@keyframes nav-classic {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  50% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.layout-form.gestures label.swipe > input::before {
  content: '';
  position: absolute;
  left: 33%;
  bottom: 3%;
  width: 33%;
  height: 2%;
  background-color: #fff;
  border-radius: 1rem;
}

.layout-form.gestures label.swipe > input:checked::before {
  animation: nav-swipe 0.5s ease;
}

@keyframes nav-swipe {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100%);
  }
}

.layout-form.gestures label.swipe > input::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 1.5rem;
  opacity: 0;
}

.layout-form.gestures label.swipe > input:checked::after {
  animation: nav-swipe-app 0.5s ease;
}

@keyframes nav-swipe-app {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(0.75);
    opacity: 0.2;
  }
  100% {
    transform: scale(0.25) translate(-25%, -50%);
    opacity: 0;
  }
}

/* Color Schemes */
.layout-form.color-schemes label > input {
  aspect-ratio: 9 / 16;
  background-color: var(--background-plus);
  position: relative;
}

.layout-form.color-schemes label > input:checked {
  background: var(--cs-accent-color);
}

.layout-form.color-schemes label > input::before {
  content: '';
  position: absolute;
  left: 0.75rem;
  bottom: 0.75rem;
  width: calc(100% - 1.5rem);
  aspect-ratio: 1 / 1;
  background: var(--cs-background);
  border-radius: 1rem;
}

.layout-form.color-schemes label > input::after {
  content: '';
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  width: calc(100% - 4rem);
  aspect-ratio: 4 / 1;
  background: var(--cs-background-plus);
  border-radius: 0.75rem;
}

.layout-form.color-schemes .light > input {
  --cs-accent-color: #0061e0;
  --cs-background: #f0f6ff;
  --cs-background-plus: #fff;
}

.layout-form.color-schemes .dark > input {
  --cs-accent-color: #80c2ff;
  --cs-background: #101214;
  --cs-background-plus: #212325;
}

.layout-form.color-schemes .auto > input {
  --cs-accent-color: linear-gradient(to right, #0061e0, #80c2ff);
  --cs-background: linear-gradient(to right, #f0f6ff, #f0f6ff 50%, #101214 50%, #101214);
  --cs-background-plus: linear-gradient(to right, #fff, #fff 40%, #212325 60%, #212325);
}
