@font-face {
  src: url(/fonts/ReadexPro-VariableFont_HEXP.ttf);
  font-family: 'Readex Pro';
}

[role="app"] {
  box-sizing: border-box;
  padding-bottom: 5rem;
  overflow-y: auto;
}

.homepage-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  padding-top: 3rem;
}

.homepage-header .logo-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 3 / 1;
  width: 100%;
  max-width: calc(var(--safezone-width) - 3rem);
  margin-bottom: 1.5rem;
  border-radius: 1.5rem;
}

.homepage-header .logo-holder > .logo {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
}

.homepage-header .logo-holder > .logo .wordmark {
  margin-inline-end: 0.25em;
  color: var(--text-color);
  font-weight: 600;
  font-size: 4rem;
  font-family: 'Readex Pro';
}

.homepage-header .searchbox {
  display: flex;
  width: 100%;
  max-width: calc(var(--safezone-width) - 3rem);
  height: 4.4rem;
  margin-bottom: 1.5rem;
  border-radius: 2.2rem;
  background: var(--background-plus) url(icons/browser_64.png) no-repeat left 1.5rem center / 2.4rem;
  box-shadow: 0 1.5rem 3rem rgba(0,0,0,0.25);
}

.homepage-header .searchbox input[type="text"] {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 0;
  padding-inline-start: 5rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1.6rem;
}

.homepage-header .searchbox button[type="submit"] {
  flex-shrink: 0;
  width: 4.4rem;
  height: 3.4rem;
  margin: 0.5rem;
  border: none;
  border-radius: 2rem;
  outline: none;
  background-color: transparent;
  background-color: var(--accent-color);
  color: var(--accent-color-plus);
  line-height: 3.4rem;
}

.homepage-header .searchbox button[type="submit"][data-icon]::before {
  position: static;
  font-size: 2rem;
}

.homepage-row {
  width: calc(100% - 3rem);
  max-width: calc(var(--safezone-width) - 3rem);
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.homepage-row > header {
  box-sizing: border-box;
  width: 100%;
  height: 3rem;
  padding: 0 0.5rem;
  color: var(--text-color-faded);
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
  text-transform: uppercase;
}

.homepage-row > div {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  border-radius: 1.5rem;
  background-color: var(--background-plus);
}
