.panel {
  background-color: var(--background);
  visibility: hidden;
  transition: all 0.4s ease;
}

.panel.previous {
  filter: brightness(50%);
}
html[dir="ltr"] .panel.previous {
  transform: translateX(-25%);
}
html[dir="rtl"] .panel.previous {
  transform: translateX(25%);
}

.panel.next {
  filter: brightness(100%);
}
html[dir="ltr"] .panel.next {
  transform: translateX(100%);
}
html[dir="rtl"] .panel.next {
  transform: translateX(-100%);
}

html[dir="ltr"] .panel.visible,
html[dir="rtl"] .panel.visible {
  transform: translateX(0);
  filter: brightness(100%);
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 768px) {
  #root {
    position: absolute;
    top: 0;
    width: 32rem;
    height: 100%;
    opacity: 1;
    visibility: visible;
    transform: none;
    border-inline-end: solid 0.1rem var(--item-active);
    box-sizing: border-box;
    z-index: 1;
    filter: none;
  }
  html[dir="ltr"] #root {
    left: 0;
  }
  html[dir="rtl"] #root {
    right: 0;
  }

  #root.visible {
    width: 100%;
    border-inline-end: none;
  }

  .panel:not(#root) {
    position: absolute;
    top: 0;
    width: calc(100% - 32rem);
    height: 100%;
  }
  html[dir="ltr"] .panel:not(#root) {
    left: 32rem;
  }
  html[dir="rtl"] .panel:not(#root) {
    right: 32rem;
  }
}
