html,
body {
  --chrome-toolbar-gap: 0.5rem;
  --chrome-tablist-height: 3.6rem;
  --chrome-navbar-height: 3.6rem;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.chrome .toolbar {
  visibility: visible !important;
  opacity: 1 !important;
}

.win32 .chrome {
  --statusbar-height: 4rem;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 0;
}

.win32 .chrome .tablist-holder,
.win32 .chrome .navbar {
  -webkit-app-region: drag;
}

.win32 .chrome .tablist-holder button,
.win32 .chrome .tablist-holder .tablist > li,
.win32 .chrome .navbar button,
.win32 .chrome .navbar .urlbar {
  -webkit-app-region: none;
}

.win32.maximized .chrome {
  border: none;
  border-radius: 0;
}

.chrome:not(.sidetabs) .browser-container {
  top: 0;
  height: calc(100% + 4rem);
}

.context-menu-visible .browser {
  pointer-events: none;
}
