#screen.desktop #software-buttons {
  position: absolute;
  right: 1.5rem;
  bottom: 1rem;
  left: 1.5rem;
  width: calc(100% - 3rem);
  height: var(--dock-height);
  border-radius: calc(var(--dock-height) / 2);
  backdrop-filter: blur(20px) saturate(180%);
  background-color: var(--acrylic-background-plus);
}

#screen.desktop:not(.software-buttons-enabled) #software-buttons {
  transform: translateY(0);
}
