#screen.desktop #statusbar {
  position: absolute;
  top: unset;
  bottom: 1rem;
  width: max-content;
  height: var(--software-buttons-height);
}
html[dir="ltr"] #screen.desktop #statusbar {
  right: 1.5rem;
}
html[dir="rtl"] #screen.desktop #statusbar {
  left: 1.5rem;
}

#screen.desktop #statusbar.tray-open {
  transform: none;
}

#screen.desktop .statusbar-icons {
  display: flex;
  position: static;
  flex-direction: row-reverse;
  align-items: center;
  width: max-content;
  height: 100%;
  margin: 0 1.5rem;
}

#screen.desktop .statusbar-icons > div {
  position: static;
  width: max-content;
}

#screen.desktop #statusbar-time {
  margin-inline-start: 1rem;
}
